@charset "UTF-8";

*{
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-image: linear-gradient(to bottom,  #F1D8C9 80%, #F2C3A7)
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a8877585;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#F39209 ;
    text-align: center;
    text-shadow: 1px 1px 2px #72450586;
}

h2{
    color: #159A9C;
}

p{
    text-align: justify;
}